:root {
    --azul: #65DAF9;
    --cinza: #444;
    --cinza-after: #333;
    --cinza-claro: #353D41;
    --branco: #fff;
    --branco-claro: #f9f9f9;
    --roboto: 'Roboto', sans-serif;
    --word-wrap: break-word;
}

/* Gerais */

*::selection {
    background-color: var(--azul);
    color: var(--branco);
}

body {
    font-family: var(--roboto);
}

.row {
    margin: 0;
}

.container {
    padding: 4.375rem 0;
}

p,
li {
    color: var(--cinza);
    font-size: 0.875rem;
}

/* Barra de navegação */
header,
.navbar {
    background-color: var(--cinza-claro);
    padding: 0.5rem 1rem;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 4.6875rem;
}

.navbar-brand {
    padding: 0;
    color: var(--branco);
}

.navbar-brand:hover {
    color: var(--branco);
}

#navbar-links a {
    cursor: pointer;
    color: var(--branco);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-item img {
    background-size: cover;
    background-position: center;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 3.125rem;
    margin-bottom: 1.875rem;
    word-wrap: var(--word-wrap);
}

#mainSlider .carousel-caption p {
    font-size: 1.375rem;
    font-weight: 300;
    margin-bottom: 6.25rem;
    color: var(--branco);
    word-wrap: var(--word-wrap);
}

.main-btn {
    text-decoration: none;
    background-color: var(--azul);
    color: var(--branco);
    text-transform: uppercase;
    width: 12.5rem;
    height: 3.75rem;
    padding: 0.625rem 1.25rem;
    border-radius: 1.875rem;
    border: 0.1875rem solid transparent;
    transition: .5s linear;
}

.main-btn:hover {
    background-color: transparent;
    color: var(--branco);
    border-color: var(--azul);
}

.carousel-indicators .active {
    background-color: var(--azul);
}

/* Sobre a empresa */

#about-area {
    background-color: var(--branco-claro);
}

.main-title {
    color: var(--cinza);
    margin: 0 0 4.0625rem 0;
    font: 2.5rem var(--roboto);
    text-align: center;
    position: relative;
}

.main-title::after {
    content: '';
    position: absolute;
    bottom: -1.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 0.125rem;
    background-color: var(--cinza-after);
}

.about-title {
    color: var(--cinza);
    font: bold 1.0625rem var(--roboto);
    text-transform: uppercase;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 1.875rem;
}

#about-list i {
    color: var(--azul);
    margin-right: 0.9375rem;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 6.125rem;
}

.service-box i,
.service-box h4 {
    transition: .5s linear;
}

.service-box i {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    color: var(--cinza);
}

.service-box h4 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.service-box:hover>i,
.service-box:hover>h4 {
    color: var(--azul);
}

/* Dados */

.circle-box section {
    padding: 0 2.5rem;
}

.progressbar-text {
    font-weight: bold;
    font-size: 2rem;
}

#data-area p {
    color: var(--branco);
    text-align: center;
    font-size: 1.625rem;
    margin-top: 1.25rem;
}